.board-select-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  .boards-select {
    margin-top: 100px;

    h2 {
      margin-top: 50px;
      display: block;
    }

    .starred-boards {
      margin-top: 20px;
    }

    .workspace {
      margin-top: 20px;
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
    }

    .create-board-btn {
      background-color: #97a0af6e;
      display: flex;
      justify-content: center;
      align-items: center;
      // margin-bottom: 70px;
    }
  }
}

@media screen and (max-width:700px) {
  .board-select-wrapper {
    .boards-select {
      margin-top: 0;
      overflow-x: hidden;

      .create-board-btn {
        margin-bottom: 70px;
      }
    }
  }
}