.home-page {
  background: linear-gradient(1deg, #ffffff 0%, #eae6ff 80%);
  color: #091e42;

  h1 {
    font-size: 3rem;
    line-height: 1.25;
  }

  p {
    font-family: "Charlie Text", sans-serif;
    font-size: rem(26px);
    font-weight: 400;
    line-height: 1.5;
  }

  .home-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #eae6ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

    transition: all 1s;

    &.bg-visible {
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .logo {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: rem(30px);
      font-weight: 700;
    }

    .header-buttons {
      display: flex;
      gap: 10px;

      .login-btn {
        background-color: transparent;
        color: #0065ff;
      }

      .signup-btn {
        background-color: #0065ff;
        color: white;
      }
    }
  }

  .home-first-fold {
    margin-top: 60px;
    display: flex;
    padding: 150px 0;

    .first-fold-text {
      display: flex;
      flex-direction: column;
      gap: 50px;

      .cta-btn {
        font-size: 25px;
        background-color: #0065ff;
        align-self: flex-start;
        padding: 25px 60px;
        border-radius: 7px;
      }
    }
  }

  .home-second-fold {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px 0;

    .second-fold-text {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
  }
}



@media (max-width:980px) {
  .home-page {
    .home-first-fold {
      .first-fold-text {
        .cta-btn {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width:740px) {
  .home-page {
    .home-first-fold {

      padding-top: 50px;
      padding-bottom: 80px;
      text-align: center;



      .first-fold-img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

@media (max-width:720px) {
  .home-page {
    .home-first-fold {
      .first-fold-img {
        display: none;
      }
    }
  }
}

@include for-mobile-layout {
  .home-page {
    h1 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.25rem;
    }

    .home-first-fold {
      padding-top: 50px;
      padding-bottom: 80px;
      text-align: center;

      .first-fold-text {
        gap: 20px;

        .cta-btn {
          width: 100%;
        }
      }

      .first-fold-img {
        display: none;
      }
    }

    .home-second-fold {
      gap: 20px;
      margin-top: 0;

      .second-fold-text {
        text-align: center;
        gap: 20px;
      }
    }
  }
}