.add-board-item {
    background-color: #EBECF0;
    border-radius: 3px;
    form {
        // padding: 8px;
        width: 100%;
        textarea {
            padding: 6px 8px 2px;
            resize: none;
            margin: 0;
            width: 100%;
            font-family: unset;
            &:focus {
                border: 2px solid #0079BF;
                border-radius: 3px;
                outline: 0 none;
            }
        }
    }
    .form-btns {
        button:first-child {
            background-color: #0079BF;
            border-radius: 3px;
            color: white;
            height: 33px;
            width: 70px;
            &:hover {
                background-color: #0175B8;
            }
        }
    }
}