.app-header {
  background-color: rgba(173, 101, 173, 0.541);
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .left-links {
        display: flex;
        align-items: center;
    }

    .logo {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.466);

        transition: all 0.3s;
        
        > span {
            font-size: rem(22px);
        }

        &:hover {
            color: rgb(255, 255, 255);
        }
    }
}
}
