.board-header {
    background-color: transparent;
    z-index: 2;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left-btns {
        .board-title {
            >input {
                background-color: transparent;
                border: none;
                cursor: pointer;
                color: white;
            }
        }
        display: flex;
        align-items: center;
        gap: 10px;
        .user-previews {
            display: flex;
            align-items: center;
            margin: -2px;
            max-width: 128px;
            &>* {
                flex-basis: 25%;
            }
        }
        .starred-btn {
            &.starred {
                color: gold;
            }
        }
    }
    .right-btns {
        display: flex;
        gap: 10px;
        // align-items: center;
        .dashboard-btn {
            &.menu-open {
                transform: translateX(-170%);
            }
        }
    }
}