.board-header {
  background-color: transparent;
  z-index: 2;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #dfe0db3c;
  width: 100vw;
  // flex-wrap: wrap;
  // position: fixed;
  // margin-bottom: 40px;

  button {
    font-size: 14px;
  }

  .left-btns {
    .board-title {
      >input {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: white;
        font-size: 18px;
        font-weight: 700;
        line-height: 32px;
      }
    }

    .invite-btn {
      position: relative;
      right: 8px;
    }

    .show-more-btn {
      width: 32px;
      height: 32px;
      background-color: #ebecf0;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 50%;
      position: relative;
      color: #172b4d;
      font-size: 14px;
      line-height: 20px;
      padding: 6px 12px;
      transition: background-color, border-color, box-shadow ease .085s;
    }

    display: flex;
    align-items: center;
    gap: 10px;

    .user-previews {
      display: flex;
      align-items: center;

      &>* {
        position: relative;
      }
    }

    .starred-btn {
      &.starred {
        color: gold;
      }
    }
  }
}

.right-btns {
  display: flex;
  gap: 10px;

  .members-btn {
    display: none;
  }

  // align-items: center;
  .dashboard-btn {
    &.menu-open {
      transform: translateX(-230%);
    }
  }
}

@include for-mobile-layout {
  .board-header {
    padding: 5px 8px;

    .left-btns,
    .right-btns {
      gap: 5px;

      .board-title {
        >input {
          max-width: 180px;
          font-size: 16px;
        }
      }

      .members-btn {
        display: block;
      }
    }


    .members-container {
      display: none;
    }
  }
}