.board-list {
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

@media screen and(min-width:700px) {
    .board-list {
        flex-direction: row;
        width: unset;
    }
}