.board-preview {
  background-color: black;
  color: whitesmoke;
  border-radius: 5px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  background-size: cover;
  background-position: 50%;
  transition: all 0.3s;
  width: 100%;

  &:hover {
    .preview-screen {
      background-color: rgba(0, 0, 0, 0.281);
    }
  }

  .preview-screen {
    border-radius: 5px;
    padding: 10px;
    position: relative;
    top: -10px;
    left: -10px;
    height: 100px;
    width: 200px;
    transition: all 0.3s;
  }

  .preview-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }

  .board-title {
    align-self: flex-start;
    justify-self: flex-start;
  }

  .star-btn {
    font-size: rem(20px);
    color: white;
    align-self: flex-end;
    justify-self: flex-end;
    opacity: 1;
    transform: translate(0);

    &.starred {
      color: gold;
    }
  }
}


@media screen and (max-width: 700px) {
  .board-preview {
    width: 200px;

    .preview-content {
      &:hover {
        .star-btn {
          transform: translate(0);
          opacity: 1;
        }
      }
    }

    .star-btn {
      transform: translate(110%);
      opacity: 0;
      transition: all 0.3s;

      &:hover {
        font-size: rem(25px);
      }
    }
  }
}
