.card-preview {
    cursor: pointer;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 1px 0 #16181b40;
    border-radius: 3px;
    .card-preview-header {
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        user-select: none;
        .header-color {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            height: 32px;
        }
        img {
            height: fit-content;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }
    }
    .card-details {
        padding: 6px 8px 6px;
        .label-bar-list {
            flex-wrap: wrap;
            .label-bar {
                margin: 0 4px 4px 0;
                border-radius: 5px;
                font-size: 0.8rem;
                text-align: center;
                padding: 0px 8px;
            }
            &.close {
                .label-bar {
                    color: rgba(255, 255, 255, 0);
                    height: 8px;
                    min-width: 20px;
                    width: 40px;
                    transition: height .2s, min-width .2s linear .2s;
                }
            }
            &.open {
                .label-bar {
                    color: white;
                    height: 20px;
                    // width: fit-content;
                    min-width: 60px;
                    width: fit-content;
                    transition: color .2s linear 0.4s, min-width .2s, height .2s linear .2s;
                }
            }
        }
        .card-preview-footer {
            flex-wrap: wrap;
            gap: 8px;
            .due-date-box {
                gap: 5px;
                padding: 0 5px;
                border-radius: 5px;
                color: white;
                .check-icon {
                    display: none;
                }
                &.due-date-box:hover {
                    .clock-icon {
                        display: none;
                    }
                    .check-icon {
                        display: flex;
                        align-items: center;
                    }
                }
            }
            .attachment-box,
            .checklist-box {
                gap: 5px;
            }
            .card-members-list {
                flex: 1 1;
                justify-content: flex-end;
            }
        }
    }
    .hover-edit-btn {
        border-radius: 5px;
        height: 20px;
        background-color: rgba(235, 236, 240, 0.063);
        display: none;
        position: absolute;
        top: 5px;
        right: 5px;
    }
    &.card-preview:hover {
        background-color: #F4F5F7;
        cursor: pointer;
        .hover-edit-btn {
            display: block;
            &.hover-edit-btn:hover {
                background-color: rgb(235, 236, 240);
            }
        }
    }
}