.card-preview {
    cursor: pointer;
    word-wrap: break-word;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 1px 0 #16181b40;
    border-radius: 3px;
    .card-preview-header {
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        user-select: none;
        justify-content: end;
        .image-wrapper {
            height: fit-content;
            width: 100%;
            .card-header-title {
                min-height: 260px;
                p {
                    background: linear-gradient( 180deg, #ffffff00, rgba(255, 255, 255, 0.678), #fff);
                }
            }
        }
        .header-color {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            height: 32px;
        }
        img {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }
        .card-header-title {
            background-size: cover;
            justify-content: end;
            border-radius: 3px;
            p {
                overflow: visible;
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
                margin-bottom: 0;
                padding-bottom: 8px;
                padding: 6px 8px 6px;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
            }
        }
    }
    .card-details {
        padding: 6px 8px 6px;
        .label-bar-list {
            flex-wrap: wrap;
            .label-bar {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 4px 4px 0;
                border-radius: 5px;
                font-size: 0.8rem;
                text-align: center;
                padding: 0px 8px;
            }
            &.close {
                .label-bar {
                    color: rgba(255, 255, 255, 0);
                    height: 8px;
                    min-width: 20px;
                    width: 40px;
                    transition: height .2s, min-width .2s linear .2s;
                }
            }
            &.open {
                .label-bar {
                    color: white;
                    height: 20px;
                    min-width: 60px;
                    width: fit-content;
                    transition: color .2s linear 0.4s, min-width .2s, height .2s linear .2s;
                }
            }
        }
        .card-preview-footer {
            flex-wrap: wrap;
            gap: 8px;
            color: #6b778c;
            // margin-top: 4px;
            margin: 2px 0px;
            .due-date-box {
                gap: 5px;
                padding: 0 5px;
                border-radius: 5px;
                color: white;
                height: 25px;
                .check-icon {
                    display: none;
                }
                &.due-date-box:hover {
                    .clock-icon {
                        display: none;
                    }
                    .check-icon {
                        display: flex;
                        align-items: center;
                    }
                }
            }
            .attachment-box,
            .checklist-box {
                gap: 5px;
            }
            .card-members-list {
                flex: 1 1;
                justify-content: flex-end;
            }
        }
    }
    .hover-edit-btn {
        display: none;
    }
}

@media screen and (min-width:780px) {
    .card-preview {
        cursor: pointer;
        &:hover {
            background-color: #f4f5f7;
            cursor: pointer;
            .hover-edit-btn {
                font-size: rem(16px);
                border-radius: 5px;
                width: 28px;
                height: 28px;
                color: #42526e;
                background-color: #F4F5F7;
                opacity: .8;
                position: absolute;
                top: 2px;
                right: 2px;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover {
                    color: #172b4d;
                    background-color: #ebecf0;
                    opacity: 1;
                }
            }
        }
    }
}