.card-edit {
    min-height: rem(600px);
    width: rem(768px);
    display: block;
    margin: auto;

    .card-edit-bg {
        min-height: rem(116px);
        height: rem(116px);
        padding: 0;
        width: 100%;
    }

    .card-edit-header {
        min-height: rem(32px);
    }

    .clean-input {
        border: none;
        outline: none;
        width: rem(656px);
        height: rem(33.333px);
        border-radius: rem(3px);
        font-size: rem(20px);
        transition: border .1s;

        &:focus {
            border: 2px solid black;
        }
    }

    .card-edit-title {
        display: flex;
        gap: rem(10px);
        margin: 12px 40px 8px 56px;
    }

    .description-textarea {
        width: rem(500px);
        border: none;
        outline: none;
        background-color: #eaecf0;
        cursor: pointer;
        margin: 12px 40px 8px 56px;

        &.open {
            background-color: #fff;
            outline: 2px solid black;
            cursor: text;
        }
    }

    .description-btns {
        display: flex;
        gap: rem(10px);

        button {
            cursor: pointer;
        }
    }

    .list-name-container {
        color: #5e6c84;
        margin: 12px 40px 8px 56px;

        .list-name {
            text-decoration: underline;
        }

    }

    .members-labels-container {
        display: flex;
        gap: rem(10px);
        margin: 12px 40px 8px 56px;

        .members-container,
        .lebels-container {
            display: flex;
            flex-direction: column;
        }

        .members,
        .labels {
            display: flex;
            gap: rem(5px);
        }

        .card-member {
            border-radius: 50%;
            height: rem(30px);
            width: rem(30px);
            cursor: pointer;

            &.add-member {
                color: #42526e;
                background-color: #091e420a;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        .card-label {
            border-radius: rem(3px);
            padding: 0 rem(12px);
            color: #fff;
            cursor: pointer;
            &.add-label {
                // height: rem(16px);
                // width: rem(16px);
                display: flex;
                justify-content: center;
                align-items: center;
                color: #42526e;
                background-color: #091e420a;
            }
        }

    }

}