.change-bg {
    width: 340px;
    padding: 5px;
    .images {
        cursor: pointer;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        .img-container {
            width: 45%;
            > img {
                height: 100%;
                border-radius: 5px;
            }
        }
    }

    .colors {
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        .color-container {
            border-radius: 5px;
            width: 148px;
            height: 105px;
        }
    }
}