.group-list-container {
    padding: 10px;
    .group-list {
        gap: 10px;
    }
    .add-group-container {
        height: fit-content;
        width: 250px;
        margin-inline-start: 10px;
        .add-boarditem-btn {
            border-radius: 5px;
            background-color: #b5b6b259;
            padding-inline-start: 10px;
            height: 40px;
            width: 100%;
        }
    }
}