.member-list {
    h4{
        color: #5e6c84;
    font-size: rem(12px);
    font-weight: 500;
    letter-spacing: .04em;
    line-height: rem(16px);
    text-transform: uppercase;
    margin: rem(16px) 0 rem(8px) ;
    }
}