.overlay-screen {
    z-index: 3;
    position: fixed;
    display: block;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    inset: 0;
    background-color: #000000a3;
    overflow-y: scroll;
    // cursor: pointer;
}