.edit-modal-container {
    background-color: #000000a3;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 10;
    inset: 0;
    overflow-y: auto;
    cursor: pointer;
    .card-edit {
        position: absolute;
        top: 46px;
        left: 50%;
        transform: translateX(-50%);
        min-height: 600px;
        padding-bottom: 32px;
        margin-bottom: 48px;
        height: fit-content;
        width: 768px;
        display: block;
        color: #172b4d;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: #f4f5f7;
        z-index: 40;
        border-radius: 2px;
        cursor: auto;

        .archive-msg {
            background-color: #FDFAE5;
            background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.05) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%, transparent 75%, transparent);
            background-size: 14px 14px;
            min-height: 30px;
            padding: 12px 12px 12px 20px;
            color: #172b4d;
            display: flex;
            align-items: center;
            gap: 16px;
            p {
                font-size: rem(16px);
                line-height: 30px;
                margin: 0;
            }
            span {
                margin-top: 4px;
            }
        }
        .close-modal-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 8px;
            right: 8px;
            color: #42526e;
            background-color: #00000014;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            transition: background-color 85ms, color 85ms;
            font-size: rem(32px);
            padding: 10px;
            &:hover {
                background-color: #00000029;
            }
        }
        .btn-wrapper {
            position: relative;
            float: right;
            margin-top: -42px;
            margin-right: 8px;
        }
        .change-cover-btn {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            display: flex;
            gap: 4px;
            background-color: #00000014;
            border-radius: 3px;
            color: #172b4d;
            padding: 6px 12px 6px 6px;
            font-size: rem(14px);
            font-weight: 400;
            line-height: 20px;
            .cover-icon {
                font-size: rem(18px);
            }
            &:hover {
                background-color: #00000029;
            }
        }
        .card-edit-main-container {
            flex-direction: row;
        }
        .card-edit-main {
            flex: 2;
            padding: 0 8px 8px 16px;
            h3:not(.small-title) {
                font-size: rem(16px);
                font-weight: 600;
            }
        }
        .card-edit-bg {
            // position: relative;
            padding: 0;
            width: 100%;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
        }
        .card-edit-header {
            min-height: 32px;
        }
        .card-title-container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 8px 0 16px;
            span {
                display: flex;
                align-items: center;
                svg {
                    height: 18px;
                    width: 24px;
                }
            }
        }
        .title-input {
            border: none;
            outline: none;
            min-height: 24px;
            padding: 4px 8px;
            height: 33.333px;
            border-radius: 3px;
            font-size: rem(20px);
            font-weight: 600;
            line-height: 24px;
            transition: border .1s;
            font-family: inherit;
            width: 100%;
            margin-right: 50px;
            background-color: transparent;
            &:focus {
                background-color: #fff;
                box-shadow: inset 0 0 0 2px #0079bf;
            }
        }
        .card-edit-title {
            display: flex;
            gap: 8px;
            align-items: center;
            span {
                display: flex;
                align-items: center;
                svg {
                    height: 18px;
                    width: 24px;
                }
            }
        }
        .list-name-container {
            color: #5e6c84;
            margin: 0 0 8px 26px;
            font-size: rem(14px);
            font-weight: 400;
            line-height: 20px;
            padding-inline-start: 24px;
            .list-name {
                text-decoration: underline;
            }
        }
    }
}

@media screen and (max-width:780px) {
    .edit-modal-container {
        .card-edit {
            width: 95%;
            .card-edit-main-container {
                flex-direction: column;
            }
            .card-edit-main {
                padding: 0 16px 8px 16px;
            }
        }
    }
}

@include for-mobile-layout {
    .edit-modal-container {
        .card-edit {
            position: fixed;
            top: 0;
            width: 100%;
            height: 100%;
            // top: 15%;
            overflow-y: auto;
        }
    }
}