.sidebar {
    padding: 0 16px 8px 8px;
    display: flex;
    flex-direction: column;

    .btn-label-container {
        justify-content: flex-start;
        align-items: center;
        gap: 6px;
        width: 144px;
        font-size: 14px;
    }

    .add-to-card-container,
    .actions-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    h3 {
        &.sidebar-title {
            font-size: 12px;
            color: #5e6c84;
            font-weight: 500;
            letter-spacing: .04em;
            line-height: 20px;
            text-transform: uppercase;
            margin-bottom: 8px;
        }
    }

    .card-edit-actions {
        margin-top: 24px;
    }
}

@media screen and (max-width:780px) {
    .sidebar {
        justify-content: space-between;
        margin-top: 24px;

        h3 {
            padding-left: 16px;
        }

        .card-edit-actions {
            margin-top: 32px;
        }

        .add-to-card-container,
        .actions-container {
            padding-left: 10px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 8px;

            .sidebar-label {
                width: 100%;
                display: flex;
                justify-content: flex-start;
            }
        }
    }
}