.edit-attachment {
    label {
        color: #5e6c84;
        display: block;
        font-size: rem(12px);
        font-weight: 700;
        line-height: 16px;
        margin-bottom: 4px;
        margin-top: 4px;
    }
}